:root {
    --primary-color: #086db5;
}

#myTable {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    font-size: 18px;
    table-layout: fixed
;
}

#myTable th {
    background-color: #fdfafa;
}

#myTable th,
#myTable td {
    text-align: left;
    padding: 12px;
    border: 1px solid #ccc;
}

#myTable th:nth-child(1), #myTable td:nth-child(1) {
    width:5%;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

  #myTable th:nth-child(2), #myTable td:nth-child(2) {
    width: 10%;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#myTable th:nth-child(3), #myTable td:nth-child(3) {
  width: 20%;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#myTable th:nth-child(4), #myTable td:nth-child(4) {
    width: 10%;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#myTable tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

#myTable tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

#myTable tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

#myTable tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.filter-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    width: 98.3% !important;
    margin: 0 12px;
    padding-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn-filter {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.filter-header svg {
    width: 20px;
    height: 20px;
    font-weight: 500;
}

.btn-infomation{
    padding: 10px 30px;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.btn-infomation:hover{
    background-color: #fff;
    color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid var(--primary-color);
}