
:root {
--primary-color: #086db5;
  --primary-color-light: hsl(29, 80%, 70%);
  --black-color: hsl(29, 16%, 10%);
  --text-color: hsl(29, 8%, 65%);
  --body-color: hsl(29, 100%, 99%);


}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/*=============== CARD ===============*/

.card {
  position: relative;
  width: 100%;
  height: 450px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 16px hsla(29, 75%, 8%, 0.2);
}

.card__img {
  width: 200px;
  border-radius: 50%;
}

.card__border {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 auto 0.75rem;
}

.card__name {
  color: var(--primary-color);
  font-size: var(--h3-font-size);
  font-weight: 500;
}

.card__profession {
  color: var(--text-color);
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  padding: 20px;
}

.card__social {
  width: 200px;
  background-color: var(--primary-color);
  padding: 0.75rem;
  border-radius: 3rem;
  text-align: initial;
  box-shadow: 0 8px 24px hsla(29, 75%, 56%, 0.3);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.75rem;
  margin: 0 auto;
  overflow: hidden;
  transform-origin: 18px 17px;
}

.card__social-control {
  position: relative;
  transform-origin: 18px 18px;
  transition: transform 0.45s ease;
  transform: rotate(0);
}

.card__social-toggle {
  display: inline-flex;
  background-color: var(--black-color);
  color: var(--primary-color);
  font-size: 1.25rem;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.card__social-text {
  display: block;
  color: var(--black-color);
  font-size: var(--smaller-font-size);
  font-weight: 500;
}

.card__social-list {
  display: inline-flex;
  column-gap: 0.75rem;
  transform: rotate(135deg);
  transform-origin: 18px 17px;
}

.card__social-link {
  display: inline-flex;
  background-color: var(--primary-color-light);
  color: var(--black-color);
  font-size: 1.25rem;
  padding: 6px;
  border-radius: 50%;
}

.card__social-text,
.card__social-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 3.1rem;
}

.card__social-text {
  top: 0.5rem;
}

/* Rotate social */
.animation .card__social-control {
  transform: rotate(-135deg);
}

/* Up animation */
.card__social.animation {
  animation: up-animation 1s ease-in-out forwards;
}

@keyframes up-animation {
  0%,
  100% {
    transform: rotate(0);
  }
  50%,
  60% {
    transform: rotate(-3deg);
  }
  88% {
    transform: rotate(1deg);
  }
}

/* Down animation */
.card__social.down-animation {
  animation: down-animation 1s ease-in-out forwards;
}

@keyframes down-animation {
  0%,
  100% {
    transform: rotate(0);
  }
  50%,
  60% {
    transform: rotate(6deg);
  }
  0%,
  88% {
    transform: rotate(-1deg);
  }
}


.flip-card {
  background-color: transparent;
  width: 100%;
  height: 430px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.175);;
}

.flip-card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.flip-card-back {
  transform: rotateY(180deg);
  padding-top: 40px; /* Chỉnh lại khoảng cách để tránh bị che bởi nút close */
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


label {
  margin: 10px 0 5px;
  text-align: left;
}


textarea {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.give-star {
  border: 1px solid #ccc ;
  padding: 10px;
  border-radius: 10px !important;
  cursor: pointer;
  font-size: 16px;
  background-color: white;
}

.give-star:hover {
  background-color: #ffc73a;
  color: white;
}


.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.3rem;
  --stroke: #666;
  --fill: #ffc73a;
}

.rating input {
  appearance: unset;
}

.rating label {
  cursor: pointer;
}

.rating svg {
  width: 2rem;
  height: 2rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  animation: idle 4s linear infinite;
  transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}

.rating label:hover svg {
  stroke: var(--fill);
}

.rating input:checked ~ label svg {
  transition: 0s;
  animation: idle 4s linear infinite, yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
}

@keyframes yippee {
  0% {
    transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30% {
    transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    transform: scale(1.2);
    fill: var(--fill);
  }
}


/* CSS cho nút Close */
#close-btn {
  position: absolute;
  top: 10px;
  right: 20px; 
  border: none;
  font-size: 24px;
  cursor: pointer;
  background-color: transparent;
}

#close-btn i {
  color: #333 !important;
}



/* Phong cách ban đầu của textarea và placeholder-text */
.textarea-container {
  position: relative;
  margin-bottom: 15px;
}

textarea {
  width: 100%;
  padding: 20px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  resize: none;
  box-sizing: border-box;
  outline: none;
  background: transparent; 
  transition: border-color 0.3s ease; 
}

/* Placeholder text */
.placeholder-text {
  position: absolute;
  top: 20px; 
  left: 10px;
  background-color: #fff; 
  padding: 0 5px;
  font-size: 14px;
  color: #999;
  transition: all 0.3s ease; 
  pointer-events: none;
  border-radius: 4px;
}


textarea:hover + .placeholder-text,
textarea:focus + .placeholder-text,
textarea:not(:placeholder-shown) + .placeholder-text {
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: #333;
}


textarea:valid + .placeholder-text {
  top: -10px; 
  left: 10px;
  font-size: 12px;
  color: #333;
}

.row-lable {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.des {
  margin-left: 20px;
  color: var(--primary-color);
  font-weight: 500;
}

#form1 {
  padding: 50px;
}

.tag {
  font-weight: 500;
}