#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 90%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
    border-radius: 10px;
  }
  
  #myTable {
    border-collapse: collapse; 
    width: 100%;
    border: 1px solid #ddd; 
    font-size: 18px; 
    table-layout: fixed;
  }
  
  #myTable th, #myTable td {
    text-align: left; 
    padding: 12px;
   
  }

  #myTable th:nth-child(2), #myTable td:nth-child(2) {
    width: 20%;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#myTable th:nth-child(3), #myTable td:nth-child(3) {
  width: 20%;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#myTable th:nth-child(4), #myTable td:nth-child(4) {
    width: 40%;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#myTable th:nth-child(5), #myTable td:nth-child(5) {
  width: 20%;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



#myTable th:nth-child(6), #myTable td:nth-child(6) {
    width: 15%;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#myTable th:nth-child(7), #myTable td:nth-child(7) {
    width: 150px;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  }
  
  .filter-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    width: 100% !important;
    padding-top: 10px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
  }

  .btn-filter{
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
  }

  .filter-header svg {
    width: 20px;
    height: 20px;
    font-weight: 500;
  }

  a {
    text-decoration: none;
    color: #000000;
  }
  
  a:hover {
    color: #222222
  }

  .btn-search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 30px;
    margin: 0 12px;
  }
  
  /* Dropdown */
  
  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dd-button {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }
  
  .dd-button:hover {
    background-color: #eeeeee;
  }
  
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-menu li:hover {
    background-color: #f6f6f6;
  }
  
  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }
  
  .dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }

  .space {
    margin-left: 20px;
  }
  /* INPUT CONTAINER  */
.input-container {
  display:flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #000;
  overflow: hidden;
  cursor: pointer;
  margin-left: 20px;
}


.input-container input {
  position: relative;
  align-items: center;
  width: auto;
  height: auto;
  font-family: "Roboto",sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 21px;
  text-transform: uppercase;
  margin-left: 0px;
  border: 0;
  outline: none !important;
  text-align: center;
  cursor: pointer;
}

/* BUTTON CONTAINER */
.button-container {
  display:flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 197px;
  height: 65px;
  padding: 1px;
  padding-bottom: 2px;
  background: #09f;
  border-radius: 8px;
  filter: drop-shadow(0px 0px 3px #000);
  -webkit-filter: drop-shadow(0px 0px 3px #000);
  overflow: hidden;
  cursor:pointer;
}
.button-container:hover, 
.button-container:focus {
  background: #09f;
  filter: drop-shadow(0px 0px 3px #09f);
  -webkit-filter: drop-shadow(0px 0px 3px #09f);
}
/* -- button -- */
.button-container .button {
  position: relative;
  width: 100%;
  min-height: 63px;
  height:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  background: #fff;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
.button-container:hover .button:hover  {
  background: #000;
  color: #fff;
}
.button-container:hover .button:active  {
  background: #000;
  color: #fff;
  background: #09f;
  filter: drop-shadow(0px 0px 3px #09f);
  -webkit-filter: drop-shadow(0px 0px 3px #09f);
}
/* -- button ok -- */
.button-container .button.ok {
  background: #131313;
  color: #fff;
}
.button-container:hover .button.ok:hover {
  background: #131313;
  color: #09f;
  text-shadow: 0px 0px 10px #09f;
  -webkit-text-shadow: 0px 0px 10px #09f;
}
.button-container:hover .button.ok:active  {
  color: #fff;
  background: #09f;
  filter: drop-shadow(0px 0px 3px #000);
  -webkit-filter: drop-shadow(0px 0px 3px #000);
}

/* RESERVATION BOX */
.reservation-box {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  height: auto;
  padding:20px;
  border-radius: 7px;
  background-color: rgba(255,255,255,1);
  
}
.reservation-box .static {
  position:relative;
  display: flex;
  align-items: center;
  float:left;
  width: auto;
  margin-right: 20px;
}
.reservation-box .flex {
  position:relative;
  display: flex;
  float:left;
  flex-direction: table;
  align-items: center;
  gap:20px;
  width:auto;
}
.reservation-box .top {
  display: flex;
  flex-direction: table;
}
.reservation-box .bottom {
  position:relative;
  width: 100%;
  text-align: right; 
}
 
.reservation-box .info {
  width: auto;
  color: #000;
  font-weight:500;
  text-decoration: none;
  text-align: right;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.reservation-box .info:hover,
.reservation-box .info:focus,
.reservation-box .info:active {
  color: #000;
  border-bottom: 2px solid #09f;
}

/* RESERVATION BOX SMALL */
.reservation-box.small, .reservation-box.small .flex {
  flex-direction: column;
}
.reservation-box.small .top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reservation-box.small .static {
  margin-right: 0px;
} 
.reservation-box.small .bottom {
  text-align: center;
}
.reservation-box.small .button-container {min-width: 217px;}
