@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --primary-color: #086db5;
    --cal-text: 22px;
}


  html, body {
    margin: 0;
    font-family: "Roboto", sans-serif !important;
    color: #0c0c0c;
    overflow-x: hidden;
}

.menu-header {
  max-width: 1300px !important;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 55.5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.header-content {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.header-content.active {
  background-color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
  color: #086db5;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.dropdown-menu--hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-header {
    display: none;
  }
  
  .dropdown-menu--hidden {
    display: block;
    width: 80% !important;
    max-width: 800px  !important;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
   
  }
}


.tools-header {
  padding: 20px 0px;
  margin-left: 100px  ;
  max-width: 1000px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}

.form {
  --timing: 0.3s;
  --width-of-input: 500px;
  --height-of-input: 45px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: var(--primary-color);
  --border-radius: 10px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
  margin-left: 50px;
  border: 1px solid #eee;
}


.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}

.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
  
}

.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}


.form:focus-within:before {
  transform: scale(1);
}


.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}


input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}

.form svg {
  width: 17px;
  margin-top: -4px;
}

.button-search {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .tools-header{
    display: none !important;
  }
}


.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
  flex: 1 0 21%;
  margin: 10px;
  box-sizing: border-box;
}

.card {
  align-self: flex-start;
  position: relative;
  width: 325px;
  min-width: 275px;
  margin: 1.25rem 0.75rem;
  background: white;
  transition: all 300ms ease-in-out;

  .card-img {

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .card-img-hovered {
    --card-img-hovered-overlay: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    );
    transition: all 350ms ease-in-out;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    position: absolute;

    top: 0;
  }

  .card-info {
    position: relative;
    padding: 0.75rem 1.25rem;
    transition: all 200ms ease-in-out;

    .card-about {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.75rem 0;
      transition: all 200ms ease-in-out;

      .card-tag {
        width: 100px;
        max-width: 100px;
        padding: 0.2rem 0.5rem;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        background: var(--primary-color);
        color: #fff;

        &.tag-highlight {
          width: 75px;
          background: #ff5630;
        }
      }
    }

    .card-title {
      z-index: 10;
      font-family: "Roboto", sans-serif !important;
      font-size: var(--cal-text);
      transition: all 350ms ease-in-out;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      
    }


  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1),
      0px 5px 15px rgba(0, 0, 0, 0.07);
    transform: scale(1.025);

    .card-img-hovered {
      --card-img-hovered-overlay: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.65)
      );
      height: 100%;
    }

    .card-about,
    .card-creator {
      opacity: 0;
    }

    .card-info {
      background-color: transparent;
    }

    .card-title {
      color: #000;
       margin-bottom: 50px;
      transform: translate(0,40px);
    }
  }
}

/* LEGAL-DOCUMENT */

.courses-container {
  position: relative;
  left: 72%;
  transform: translateX(-50%);
}

.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 800px;
}

.course h6 {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600  ;
	margin: 0;
	text-transform: uppercase;

}
.course ul {
  list-style: none;
  margin: 15px 0px -15px -12px;
}
.course li {
  color: #666666;
  letter-spacing: 1px;
  line-height: 25px;
}
.course p {
  margin: 10px 0;
  font-size: 14px;
  color: #666666;
  letter-spacing: 1px;
  display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
}

.course-preview {
	background-color: #fff;
	color: #000;
	max-width: 250px;
  border-left: 1px solid #ccc;
}

.course-preview a {
	color: var(--primary-color);
	display: inline-block;
	font-size: 14px;
	margin: 30px 0px 10px 21px;
	text-decoration: none;
}

.course-info {
	padding: 20px;
	position: relative;
	width: 100%;
}


@media (max-width: 768px) {
  .courses-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}