@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --primary-color: #086db5;
    --cal-text: 22px;
  }


  html, body {
    
    margin: 0;
    font-family: "Roboto", sans-serif !important;
    color: #0c0c0c;
    overflow-x: hidden;
    
  }

  .container-dropdown{
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
  }

  
/* BODY */
.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px !important;
    border: 1px solid #ccc;
    padding: 10px ;
    border-radius: 10px;
}
.count {
    position: relative;
    font-size: 80px;
    font-weight: 600;
    color: #CEE2F0;
    /* text-shadow: 2px 2px #ebe7e7; */
    text-transform: uppercase;
}


.content {
    margin: 0 50px;
    position: relative;
    top: -22px;
}

.content-header {
    font-size: var(--cal-text);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem  ;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
}

.img-project {
    max-width: 400px; 
    max-height: 500px;
    border-radius: 10px;
    margin: 25px 0px;
}

.des {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}

.slogan {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.5;

}

.button {
    display: flex;
    float: left;
    margin-top: 20px;
}

.btn-more {
    font-size: 20px;
    font-weight: 400;
    color: #239EF6;
    border-radius: 4px;
}

.img-fluid {
    margin: 20px 0px 0px 100px;
}



.menu-dropdown {
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
    width: fit-content;
    display: flex;
    list-style: none;
    margin-left: 10px;
  }
  
  .menu-dropdown a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  .menu-dropdown .link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px 60px;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    border: 2px solid #DFDFDF;
  }
  
  .menu-dropdown .link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .menu-dropdown .link svg {
    width: 20px;
    height: 20px;
    fill: var(--primary-color);
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .menu-dropdown .item {
    position: relative;
  }
  
  .menu-dropdown .item .submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    border-radius: 0 0 16px 16px;
    left: 0;
    width: 100%;
    overflow: hidden;
    border: 1px solid #cccccc;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-12px);
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
    pointer-events: none;
    list-style: none;
  }
  
  .menu-dropdown .item:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .menu-dropdown .item:hover .link {
    color: #000;
  
  }
  
  .menu-dropdown .item:hover .link::after {
    transform: scaleX(1);
    transform-origin: right;
  }
  
  .menu-dropdown .item:hover .link svg {
    fill: var(--primary-color);
    transform: rotate(-180deg);
  }
  
  .submenu .submenu-item--dropdown {
    width: 100%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .submenu .submenu-link {
    display: block;
    padding: 12px 24px;
    width: 100%;
    position: relative;
    text-align: center;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .submenu .submenu-item--dropdown:last-child .submenu-link {
    border-bottom: none;
  }
  
  .submenu .submenu-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 100%;
    background-color: #E7F4FE;
    z-index: -1;
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .submenu .submenu-link:hover:before {
    transform: scaleX(1);
    transform-origin: right;
  }
  
  .submenu .submenu-link:hover {
    color: #000;
  }
  
  
