@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --primary-color: #086db5;
    --cal-text: 22px;
  }


  html, body {
    
    margin: 0;
    font-family: "Roboto", sans-serif !important;
    color: #0c0c0c;
    overflow-x: hidden;
    
  }

/* TIMELINE */

.ag-timeline_item{
    margin: 0 0 50px;
    position: relative;
  }
  
  .ag-timeline_item:nth-child(2n){
    position: relative;
    left: 150px;
  }
  
  .ag-timeline{
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  .ag-timeline_line{
    width: 8px;
    background-color: #ccc;
    position: absolute;
    top: 2px;
    left: 10%;
    bottom: 0;
    overflow: hidden;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .ag-timeline_line-progress{
    width: 100%;
    height: 20%;
    background-color:var(--primary-color);
  }
  
  .ag-timeline-card_box{
    position: relative;
    left: -17px;
  }
  
  .ag-timeline_item:nth-child(2) .ag-timeline-card_box{
    padding: 0 90.2% 20px 0;
    position: relative;
    left: -60px;
  }
  
  .ag-timeline-card_point-box{
    display: inline-block;
    margin: 0 14px 0 -28px;
  }
  
  .ag-timeline_item:nth-child(2) .ag-timeline-card_point-box{
    margin: 0 -28px 0 14px;
  }
  
  .ag-timeline-card_point {
      height: 30px;
      margin-left: 10px;
      line-height: 50px;
      width: 30px;
      border: 3px solid var(--primary-color);
      background-color: #ccc;
      font-size: 20px;
      color: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
  }
  
  .js-ag-active .ag-timeline-card_point{
    color: #1d1d1b;
    background-color: var(--primary-color);
  }
  
  
  .ag-timeline-card_item {
    display: inline-block;
    width: 45%;
    margin: -77px 40px 0;
    background-color: var(--primary-color);
    opacity: 0;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    -webkit-transition: -webkit-transform .5s, opacity .5s;
    -moz-transition: -moz-transform .5s, opacity .5s;
    -o-transition: -o-transform .5s, opacity .5s;
    transition: transform .5s, opacity .5s;
    position: relative;
  }
  
  .ag-timeline_item:nth-child(2n +1) .ag-timeline-card_item{
    -webkit-transform: translateX(200%);
    -moz-transform:  translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform:  translateX(200%);
    background-color: #fff;
  }
  
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_item{
    -webkit-transform: translateX(200%);
    -moz-transform:  translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform:  translateX(200%);
    background-color: #fff;
  }
  
  .js-ag-active.ag-timeline_item:nth-child(2n +1) .ag-timeline-card_item,
  .js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    width: 100%;
    background-color: #fff;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  
  
  .ag-timeline_item:nth-child(2n +1) {
    position: relative;
    left: 150px;
  }
  
  .ag-timeline_item:nth-child(2n +1) .ag-timeline-card_arrow {
    margin-left: 10px;
    margin-right: calc(-18px/2);
  }
  
  .ag-timeline_item:nth-child(2) .ag-timeline-card_arrow {
    margin-left: -10px;
    right: auto;
    left: 0;
  }
  
  .ag-timeline-card_img {
    width: 100%;
    border: 1px solid var(--primary-color);
  }
  
  .card-project--gallery {
    display: flex;
    align-items: center;
  
    border-radius: 10px;
  }
  
  
  .date-time{
    font-size: 22;
    font-weight: 500;
  }
  
  @media screen and (max-width: 1280px){
    .ag-timeline-card_point {
      height: 30px;
      line-height: 50px;
      width: 30px;
      border: 3px solid var(--primary-color);
      background-color: #ccc;
      font-size: 20px;
      color: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-left: -8px;
  }
  
  
  .card-project--gallery {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-left: -70px;
  }
  
  .col-sm-7 {
    flex: 0 0 auto;
    width: 40% !important;
  }
  }
  
  @media screen and (max-width: 1024px){
    .ag-timeline-card_point {
      height: 30px;
      line-height: 50px;
      width: 30px;
      border: 3px solid var(--primary-color);
      background-color: #ccc;
      font-size: 20px;
      color: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-left: -26px;
  }
  
  
  .card-project--gallery {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-left: -70px;
  }
  
  .col-sm-7 {
    flex: 0 0 auto;
    width: 40% !important;
  }
  }
  
  @media screen and (max-width: 912px){
    .ag-timeline-card_point {
      height: 30px;
      line-height: 50px;
      width: 30px;
      border: 3px solid var(--primary-color);
      background-color: #ccc;
      font-size: 20px;
      color: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-left: -50px;
  }
  
  
  .card-project--gallery {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-left: -70px;
  }
  
  .img-fluid {
    display: none !important;
  }
  
  .col-sm-7 {
    flex: 0 0 auto;
    width: 60% !important;
  }
  
  }
  
  @media screen and (max-width: 450px){
    .ag-timeline-card_point {
      height: 30px;
      line-height: 50px;
      width: 30px;
      border: 3px solid var(--primary-color);
      background-color: #ccc;
      font-size: 20px;
      color: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: relative;
      left: -29px;
  }
  
  
  .card-project--gallery {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-left: -70px;
  }
  
  .img-fluid {
    display: none !important;
  }
  
  .col-sm-7 {
    flex: 0 0 auto;
    position: relative;
    left: -60px;
    width: 71% !important;
  }
  
  }
  
  
  @media screen and (max-width: 390px){
    .ag-timeline-card_point {
      height: 30px;
      line-height: 50px;
      width: 30px;
      border: 3px solid var(--primary-color);
      background-color: #ccc;
      font-size: 20px;
      color: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: relative;
      left: -35px;
  }
  
  
  .card-project--gallery {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-left: -70px;
  }
  
  .img-fluid {
    display: none !important;
  }
  
  .col-sm-7 {
    flex: 0 0 auto;
    position: relative;
    left: -60px;
    width: 71% !important;
  }
  
  }
  
  
  