:root {
  --primary-color: #086db5;
  --cal-text: 22px;
  --text-title: 15px;
  --text-content: 14px;
}

a {
  text-decoration: none !important;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
  color: #fff;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.body {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
}

.carousel {
  position: relative;
}

.carousel-indicators {
  top: -90px;
  width: 95%;
  position: static;
  margin-bottom: 40px;
  margin-left: 0% !important;
  margin-right: 0% !important;
  transform: translateX(2%);
}

.experience-slide-one {
  padding: 0 50px;
}

.carousel-indicators button {
  text-indent: 0 !important;
  background: 0 0;
  border: none;
  margin: 0 !important;
  position: relative;
  width: 40% !important; 
  padding: 0;
}

.carousel-indicators button:before {
  content: "";
  position: absolute;
  border-top: 3px solid #c8cbd0;
  width: calc(100% - 50px); 
  left: 20px !important; 
  top: 0px; 
}

.carousel-indicators button.completed:before,
.carousel-indicators button.active:before {
  border-top: 4px solid var(--primary-color) !important; 
}

.carousel-indicators button h4 {
  font-family: "UTM";
  font-size: var(--text-title);
  margin-top: -30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  font-size: var(--text-title);
}

.carousel-indicators button p {
  margin-top: 15px;
  position: absolute;
  left: 52%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 250px;
  font-size: var(--text-content);
}



.carousel-indicators button svg {
  margin-top: -20px;
  position: absolute;
  left: calc(100% - 20px);
  height: 30px;
}

.carousel-indicators button.completed svg,
.carousel-indicators button.active svg {
  color: var(--primary-color); 
}

.carousel-indicators button.active h4 {
  font-family: "UTM";
  font-size: var(--text-title);
  color: #086db5;
  position: absolute;
  left: 50%;
  margin-top: -30px;
  width: 100px;
}

.carousel-indicators button.active p {
  color: #086db5;
  font-size: 16px;
  position: absolute;
  left: 50%;
  margin-left: 0px;
  margin-top: 10px;
  width: 150px;
}

.carousel-inner {
  margin-top: 150px;
}

.carousel-control-next, .carousel-control-prev {
  width: 2%;
  opacity: 0.8;
}

.carousel-control-next-icon svg, .carousel-control-prev-icon svg {
  font-size: 30px;
  color: #333;
}



.col-md-4 h4 {
  font-family: "UTM";
  font-size: var(--cal-text);
  color: var(--primary-color);
  text-align: center;
}

.button {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 3px solid var(--primary-color);
  margin: 10px 0;
  cursor: pointer;
  z-index: 10;
}

.button > span.text {
  color: var(--primary-color);
  width: 100%;
  text-align: left;
  padding-block: 12px;
  padding-left: 5px;
  padding-right: 20px;
  z-index: 2;
  transition: all 200ms ease;
}

.button > div.overlay {
  color: #ededed;
  width: 40px;
  height: calc(100% - 5px);
  display: flex;  
  justify-content: flex-end;
  align-items: center;
  padding: 12px;
  border-radius: inherit;
  background: var(--primary-color);
  position: absolute;
  right: 1px;
  z-index: 1;
  transition: all 400ms ease;
}

.button:hover > div.overlay {
  width: 100%;
  transition: 100ms ease;
}

.button:hover > span.text {
  color: #fff;
  background-color: var(--primary-color);
}

.lable {
  text-align: left;
  margin: 0 auto;
  position: relative;
  left: 35%;
  top: 10px;
  transform: translateX(-50%);
  color: var(--primary-color);
}

.carousel-control-next, .carousel-control-prev  {
  z-index: 2 !important;
}

.carousel-indicators [data-bs-target] {
  background-color: transparent !important;
}



.tab-content .col-md-3 {
  flex: 0 0 auto;
  width: 30%;
  margin: 0px 10px 40px 0px;
}

@media (min-width: 1920px) {
  .carousel-indicators {
      width: 100% !important;
      margin-left: -60px !important;
  }

  .carousel-indicators button {
      width: 100%;
      margin-bottom: 10px;
  }

  .carousel-indicators button:before {
      width: calc(100% - 50px);
      left: 20px;
  }

  .carousel-indicators button h4 {
      margin-top: -20px;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
  }


  .carousel-indicators button svg {
      left: calc(100% - 20px);
  }

  .experience-slide-one {
      padding: 0 30px;
  }

  .carousel-control-next,
  .carousel-control-prev {
      display: none !important;
  }

  .carousel-control-next-icon svg,
  .carousel-control-prev-icon svg {
      font-size: 20px;
      display: none !important;
  }

  .button {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 500;
      width: 100%;
      border-radius: 10px;
      background: #fff;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      border: 3px solid var(--primary-color);
      margin: 10px 30px;
      cursor: pointer;
      z-index: 10;
  }

  .button > span.text {
      color: var(--primary-color);
      width: 100%;
      text-align: left;
      z-index: 2;
      transition: all 200ms ease;
  }


  .button:hover > div.overlay {
      width: 100%;
      transition: 100ms ease;
  }

  .button:hover > span.text {
      color: #fff;
  }

  .button:hover {
     background: var(--primary-color);
     color: #fff;
  }
  .popup-form {
      margin: 0;
      padding: 10px;
      gap: 5px;
  }

  .header-form {
      font-size: 24px;
  }
}

@media (max-width: 1024px) {
  .carousel-indicators {
      width: 100% !important;
      margin-left: -20px !important;
  }

  .carousel-indicators button {
      width: 100%;
      margin-bottom: 10px;
  }

  .carousel-indicators button:before {
      width: calc(100% - 50px);
      left: 20px;
  }

  .carousel-indicators button h4 {
    font-family: "UTM";
    font-size: 15px;
      margin-top: -25px;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
  }


  .carousel-indicators button svg {
      left: calc(100% - 20px);
  }

  .experience-slide-one {
      padding: 0 30px;
  }

  .carousel-control-next,
  .carousel-control-prev {
      width: 5%;
  }

  .carousel-control-next-icon svg,
  .carousel-control-prev-icon svg {
      font-size: 20px;
  }

  .button {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 500;
      width: 100%;
      border-radius: 10px;
      background: #fff;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      border: 3px solid var(--primary-color);
      margin: 10px 30px;
      cursor: pointer;
      z-index: 10;
  }

  .button > span.text {
      color: var(--primary-color);
      width: 100%;
      text-align: left;
      z-index: 2;
      transition: all 200ms ease;
  }


  .button:hover > div.overlay {
      width: 100%;
      transition: 100ms ease;
  }

  .button:hover > span.text {
      color: #fff;
  }

  .button:hover {
     background: var(--primary-color);
     color: #fff;
  }
  .popup-form {
      margin: 0;
      padding: 10px;
      gap: 5px;
  }

  .header-form {
      font-size: 24px;
  }
}

@media (max-width: 768px) {
  .carousel {
    margin-top: 150px;
  }
  .carousel-inner {
      margin-top: 0;
  }

  .carousel-indicators {
      display: none;
  }

  .carousel-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
  }

  .carousel-item img {
      max-width: 100%;
      height: auto;
  }

  .carousel-item h4 {
      font-size: 20px;
  }

  .carousel-item p {
      font-size: 14px;
  }

  .button {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 3px solid var(--primary-color);
    margin: 10px 30px 0px 0px;
    cursor: pointer;
    z-index: 10;
  }


}

@media (max-width: 420px) {
  .carousel-indicators {
      width: 100% !important;
     
  }


  .carousel-indicators button {
    text-indent: 0 !important;
    background: 0 0;
    border: none;
    margin: 0 !important;
    position: relative;
    width: 30% !important;
    padding: 0;
}

  .carousel-indicators button:before {
      width: calc(100% - 50px);
      left: 20px;
  }

  .carousel-indicators button h4 {
    font-family: "UTM";
    font-size: 14px;
      margin-top: -30px;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
  }

  .carousel-indicators button.active h4 {
    font-family: "UTM";
    color: #086db5;
    font-size: 15px;
    position: absolute;
    left: 50%;
    margin-top: -40px;
    width: 100px;
}

  .carousel-indicators button p {
      display: none;
  }

  .carousel-indicators button svg {
      left: calc(100% - 20px);
  }

  .experience-slide-one {
      padding: 0 30px;
  }


  .carousel-control-next,
  .carousel-control-prev {
      width: 5%;
  }

  .carousel-control-next-icon svg,
  .carousel-control-prev-icon svg {
      font-size: 20px;
  }

  .button {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 500;
      width: 100%;
      border-radius: 10px;
      background: #fff;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      border: 3px solid var(--primary-color);
      margin: 10px 30px;
      cursor: pointer;
      z-index: 10;
  }

  .button > span.text {
      color: var(--primary-color);
      width: 100%;
      text-align: left;
      z-index: 2;
      transition: all 200ms ease;
  }


  .button:hover > div.overlay {
      width: 100%;
      transition: 100ms ease;
  }

  .button:hover > span.text {
      color: #fff;
  }

  .button:hover {
     background: var(--primary-color);
     color: #fff;
  }
  .popup-form {
      margin: 0;
      padding: 10px;
      gap: 5px;
  }

  .header-form {
      font-size: 24px;
  }

  .tab-content .col-md-3 {
    margin: 0 auto !important;
    flex: none !important;
    width: fit-content !important;
  }
  
  
}


/* js implementation */
.quotation-service {
  width: 100%;
}

.service-item {
  border: 1px solid var(--primary-color);
  margin-bottom: 5px;
  /* border-radius: 8px; */
}

.service-item:hover {
  background-color: #fff !important; 
}

.service-header {
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
  color: #000;
  width: 100%;
  /* border-radius: 8px;  */
}

.service-header span {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.service-header:hover {
  background-color: var(--primary-color);
  color: #fff; 
}

.service-item.active .service-header {
  background-color: var(--primary-color);
  color: #fff;
}

.service-content {
  display: none;
  padding: 15px;
  background-color: #fff;
  border-radius: 0 8px; 
}

.btn-price {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn-check--quotation {
  font-family: "UTM";
  font-size: 15px;
  background-color: #086db5;
  padding: 10px;
  color: #fff;
  width: 50%;
  text-align: center;
  cursor: pointer;
  z-index: 2;
  border-radius: 8px;
}

.btn-check--quotation:hover {
  background-color: #fff;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.service-content p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 10;
}

.service-item.active .service-header {
  background-color: var(--primary-color); 
  color: #fff;
}

/* Chart */

#chart-container {
  font-family: 'UTM';
  border: 2px dashed #aaa;
  border-radius: 5px;
  overflow: auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

.orgchart .node .title {
  width: 100% !important;
  height: 30px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border: 1px solid var(--primary-color) !important;
  background-color: var(--primary-color) !important;
}

.orgchart .node .title i {
  display: none !important;
}

.orgchart .node .content {
  border: 1px solid var(--primary-color) !important;
  height: 30px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.orgchart {
  background-image: linear-gradient(90deg, #d5e7f3 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(#f1f9ff 10%, rgba(0, 0, 0, 0) 10%) !important;
}

.orgchart .node:not(:only-child)::after {
  background-color: var(--primary-color) !important;
}

.orgchart .hierarchy::before {
  border-top: 2px solid var(--primary-color) !important;
}

.orgchart>ul>li>ul li>.node::before {
  background-color: var(--primary-color) !important;
}



