
:root {
    --primary-color: #086db5;
  }

  body{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 1.4;
	color: #fff;
	overflow-x: hidden;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
}



.carousel {
    position: relative;
}

.carousel-indicators {
    top: -90px;
    width: 75%;
    margin-left: 14%;
    position: static;
    margin-bottom: 40px;
}

.experience-slide-one {
    padding: 0 50px;
}

.carousel-indicators button {
    text-indent: 0 !important;
    background: 0 0;
    border: none;
    margin: 0 !important;
    position: relative;
    width: 20% !important; 
    padding: 0;
}

.carousel-indicators button:before {
    content: "";
    position: absolute;
    border-top: 3px solid #c8cbd0;
    width: calc(100% - 50px); 
    left: 10px; 
    top: 0px; 
}

.carousel-indicators button.completed:before,
.carousel-indicators button.active:before {

    border-top: 4px solid var(--primary-color); 
}

.carousel-indicators button h4 {
    margin-top: -30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    font-size: 16px;
}

.carousel-indicators button p {
    margin-top: 15px;
    position: absolute;
    left: 52%;
    transform: translateX(-50%);
    width: 120px;
    font-size: 14px;
}

.carousel-indicators button svg {
    margin-top: -20px;
    position: absolute;
    left: calc(100% - 30px);
    height: 30px;
}

.carousel-indicators button.completed svg,
.carousel-indicators button.active svg {
    color: var(--primary-color); 
}

.carousel-indicators button.active h4 {
    color: #086db5;
    font-size: 20px;
    position: absolute;
    left: 50%;

    margin-top: -40px;
    width: 100px;
}

.carousel-indicators button.active p {
    color: #086db5;
    font-size: 16px;
    position: absolute;
    left: 50%;
    margin-left: 0px;
    margin-top: 10px;
    width: 150px;
}

.carousel-inner{
    margin-top: 150px;
}


.carousel-control-next, .carousel-control-prev {
    width: 2%;
    opacity: 0.8;

}

.carousel-control-next-icon svg , .carousel-control-prev-icon svg {
    font-size: 30px;
    color: #333;
}




.list-service {
  max-height: 500px; 
  height: 400px; 
}

.col-md-4 h4 {
  color: var(--primary-color);
  text-align: center;
}


.button {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  width: 400px;
  border-radius: 10px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  border: 3px solid var(--primary-color);
  margin: 10px 0;
  cursor: pointer;
  z-index: 10;

  & > span.text {
    color: var(--primary-color);
    width: 100%;
    text-align: left;
    padding-block: 12px;
    padding-left: 5px;
    padding-right: 20px;
    z-index: 2;
    transition: all 200ms ease;
  }

  & > div.overlay {
    color: #ededed;
    width: 40px;
    height: calc(100% - 5px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px;
    border-radius: inherit;
    background: var(--primary-color);
    position: absolute;
    right: 1px;
    z-index: 1;
    transition: all 400ms ease;
  }

  &:is(:hover, :focus) {
    & > span.text {
      color: #ededed;
    }
    & > div.overlay {
      width: 100%;
      transition:  100ms ease;
    }
  }

}

.button:hover {
  background: #086db5;
  .text{
    color: #fff;
  }

}

.lable {
  text-align: left;
  margin: 0 auto;
  position: relative;
  left: 35%;
  top: 10px;
  transform: translateX(-50%);
  color: var(--primary-color);
}


/* Form styles */
.form-popup {
  display: none; 
  position: fixed; 
  z-index: 999; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.popup-content--quotation {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  padding: 50px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header-form {
  font-size: 30px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.popup-form {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

::placeholder {
  font-family: "Roboto", sans-serif;
}

.popup-form button {
  align-self: flex-end;
}

.flex-column {
  padding: 5px 0px;
}

.inputForm {
  border: 2px solid #726c6c;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
  position: relative;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.suggestions {
  display: none;
  position: absolute;
  left: 105%;
  top: 0;
  background-color: #fff;
  width: 200px;
  padding: 10px;
  z-index: 10;
  color: var(--primary-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


@media (max-width: 1024px) {
  .carousel-indicators {
      width: 100% !important;
      margin-left: -60px !important;
  }

  .carousel-indicators button {
      width: 100%;
      margin-bottom: 10px;
  }

  .carousel-indicators button:before {
      width: calc(100% - 50px);
      left: 20px;
  }

  .carousel-indicators button h4 {
      margin-top: -20px;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
  }

  .carousel-indicators button p {
    display: none;
  }
  
  

  .carousel-indicators button svg {
      left: calc(100% - 20px);
  }

  .experience-slide-one {
      padding: 0 20px;
  }

  .col-md-4{
    flex: 1 0 !important;
  }
  .carousel-control-next,
  .carousel-control-prev {
      width: 5%;
  }

  .carousel-control-next-icon svg,
  .carousel-control-prev-icon svg{
      font-size: 20px;
  }

  .button {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    width: 200px;
    border-radius: 10px;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    border: 3px solid var(--primary-color);
    margin: 10px 0;
    cursor: pointer;
    z-index: 10;
  
    & > span.text {
      color: var(--primary-color);
      width: 100%;
      text-align: left;
      padding-block: 12px;
      padding-left: 5px;
      padding-right: 20px;
      z-index: 2;
      transition: all 200ms ease;
    }
  
    & > div.overlay {
      color: #ededed;
      width: 40px;
      height: calc(100% - 5px);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 12px;
      border-radius: inherit;
      background: var(--primary-color);
      position: absolute;
      right: 1px;
      z-index: 1;
      transition: all 400ms ease;
    }
  
    &:is(:hover, :focus) {
      & > span.text {
        color: #ededed;
      }
      & > div.overlay {
        width: 100%;
        transition:  100ms ease;
      }
    }
  
  }
}


@media (max-width: 480px) {
  .carousel-indicators {
      width: 100%;
      margin-left: 0 !important;
      top: -80px;
  }

  .carousel-indicators button {
      width: 100%;
      margin-bottom: 5px;
  }

  .carousel-indicators button:before {
      width: calc(100% - 0px);
      left: -30px;
  }

  .carousel-indicators button h4 {
      margin-top: -40px !important;
      width: 100% !important;
      left: 70% !important;
      transform: translateX(-50%) !important;
      font-size: 12px !important;
  }
  .carousel-indicators button p {
      display: none;
    }
    

  .carousel-indicators button svg {
      left: calc(100% - 35px);
  }

  .experience-slide-one {
      padding: 0 10px;
  }

  .carousel-control-next,
  .carousel-control-prev {
      width: 10%;
  
  }



  .carousel-control-next-icon svg,
  .carousel-control-prev-icon svg {
      font-size: 10px;
  }



  .button {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    width: 320px;
    border-radius: 10px;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    border: 3px solid var(--primary-color);
    margin: 10px 0;
    cursor: pointer;
    z-index: 10;
  
    & > span.text {
      color: var(--primary-color);
      width: 100%;
      text-align: left;
      padding-block: 12px;
      padding-left: 5px;
      padding-right: 20px;
      z-index: 2;
      transition: all 200ms ease;
    }
  
    & > div.overlay {
      color: #ededed;
      width: 40px;
      height: calc(100% - 5px);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 12px;
      border-radius: inherit;
      background: var(--primary-color);
      position: absolute;
      right: 1px;
      z-index: 1;
      transition: all 400ms ease;
    }
  
    &:is(:hover, :focus) {
      & > span.text {
        color: #ededed;
      }
      & > div.overlay {
        width: 100%;
        transition:  100ms ease;
      }
    }
  
  }
}

