@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #086db5;
  --cal-text: 24px;
}

* {
  text-decoration: none !important;
}

body {
  font-family: "Roboto", sans-serif !important;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.container-header {
  display: flex;
  align-items: center;
}

.header-title {
  text-align: center;
  font-size: var(--cal-text);
  font-weight: 500;

}

/* CÔNG CỤ */
.tools {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  background-color: #EBF7FF;
  cursor: pointer;
}

.tools-icon {
  background-color: #FFF;
  border-radius: 50%;
  padding: 10px;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.tools-icon:hover {
  box-shadow: 5px 10px 8px -2px #7e94b6;
}

.icon-img {
  max-width: 96px;
  max-height: 96px;
}

.tools-content {
  font-size: 30px;
  font-weight: 500;
  color: #253F4C;
  text-align: center;
  line-height: 50px;
}

@media (max-width: 768px) {
  .tools {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .tools-item {
    flex: 0 0 auto;
    margin-right: 25px;
  }

  .tools-icon {
    width: 80px;
    height: 80px;
  }

  .icon-img {
    max-width: 55px;
    max-height: 55px;
  }

  .tools-content {
    font-size: 16px;
    line-height: 20px;
  }
}


.content {
  margin: 30px 15px;
}

.content-2 {
  margin: 50px;
}

.container-second {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
}

.title-2 {
  margin: 50px;
  font-size: 35px;
  font-weight: 500;
  color: #fff;
}

.bn45 {
  width: 170px;
  height: 50px;
}

.bn46 {
  width: 170px;
  height: 50px;
}

@media (max-width: 767px) {
  .container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col-sm-7, .col-sm-5 {
    width: 100%;
    text-align: center;
  }

  .col-sm-5 img {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }

  .content {
    text-align: left;
    padding: 0 15px;
  }
}

@media (max-width: 767px) {
  .container-second {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col-sm-5, .col-sm-7 {
    width: 100%;
    text-align: center;
  }

  .col-sm-5 img {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }

  .content-2 a img {
    max-width: 80%;
    height: auto;
    margin: 10px 0;
  }
}

.container-third {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.btn-infomation {
  width: 100px;
  height: 45px;
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
}

.btn-infomation:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.card-items {
  margin: 20px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.card-items:hover {
  transform: scale(1.05);
}



.card-img-top:hover {
  transform: scale(1.1);
}

.card-title {
  font-size: 1.25rem;
  margin: 20px 0;
}

.card-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #666;
}

.parallax {
  background-image: url('https://moitruongachau.com/vnt_upload/weblink/banner_trang_chu_nang_luc_5.png');
  max-height: 400px;
  min-height: 300px;
  width: 100%;


  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-checkout {
  background-color: transparent;
  text-align: center;


}

.text-title {
  font-size: var(--cal-text);
  font-weight: 500;
  color: #fff;
  margin: 20px 0;
}

.text-content {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  background-color: transparent;
  color: #fff;
}

.btn-search {
  width: 200px;
  height: 60px;
  font-weight: 500;
  color: white;
  border: 1px solid #fff;
  margin: 20px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.btn-search:hover {
  background-color: #fff;
  color: black;
  font-weight: 500;
}

.btn-text {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}



.layout_padding {
  padding: 20px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.long_section {
  margin-left: 45px;
  margin-right: 45px;
  padding-left: 15px;
  padding-right: 15px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

}

.heading_container h2 {
  font-family: "Roboto", sans-serif !important;
  position: relative;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  font-size: var(--cal-text);
}

.heading_container.heading_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

h1,
h2 {
  font-family: 'Roboto', sans-serif;
}



.slider_section {
  min-height: 100vh;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section .detail-box {
  position: relative;
  z-index: 4;
  color: #ffffff;
  padding: 75px 0;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  font-size: 3rem;
}

.slider_section .detail-box p {
  width: 75%;
  margin-top: 15px;
}

.slider_section .detail-box .slider-link {
  display: inline-block;
  padding: 10px 45px;
  background-color: transparent;
  color: #ff99d1;
  border-radius: 5px;
  border: 1px solid #ff99d1;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-top: 35px;
}

.slider_section .detail-box .slider-link:hover {
  background-color: #ff99d1;
  color: #ffffff;
}

.slider_section .slider_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

.slider_section .slider_bg_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top right;
  object-position: top right;
}



.client_section .heading_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 20px 45px;
  padding: 35px 25px;
  border-radius: 15px;
  background-color: var(--primary-color);
  color: #ffffff;
}

.client_section .box .img-box {
  margin-bottom: 15px;
  min-width: 145px;
  max-width: 145px;
  overflow: hidden;
}

.client_section .box .img-box img {
  width: 100%;
  border-radius: 100%;
  border: 7px solid rgba(255, 255, 255, 0.45);
}

.client_section .box .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.client_section .box .detail-box .name img {
  width: 25px;
  margin-bottom: 5px;
}

.client_section .box .detail-box .name h6 {
  color: #fff;
  font-size: 30px;
}

.client_section .carousel_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  position: unset;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  background-color: var(--primary-color);
  background-position: center;
  border-radius: 5px;
  margin: 0 2.5px;
}

.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.client_section .carousel-control-next {
  left: initial;
}


/* carousel */
.carousel-id .list .item img,
.thumbnail .item img {
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.thumbnail .item {
  width: 120px;
  height: 170px;
  flex-shrink: 0;
  position: relative;
}

.carousel-id {
  width: 100vw;
  overflow: hidden;
  position: relative;


}

.carousel-id .list .item {
  inset: 0 0 0 0;
  display: none;

}

.carousel-id .list .item.active {
  display: block;
}

.carousel-id .list .item img {
  height: 400px;
  object-fit: cover;
}

.carousel-id .list .item .content {
  position: relative;
  top: 33%;
  box-sizing: border-box;
  text-align: left;


}

.des {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

.carousel-id .list .item .author {
  font-weight: bold;
  letter-spacing: 10px;
}

.carousel-id .list .item .title,
.carousel-id .list .item .topic {
  font-size: 30px;
  font-weight: bold;
  line-height: 2.3em;
  color: var(--primary-color);
}

.carousel-id .list .item .topic {
  color: var(--primary-color);
}

.carousel-id .list .item .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}

.carousel-id .list .item .buttons button {
  border: none;
  background-color: var(--primary-color);
  letter-spacing: 3px;
  font-weight: 500;
  color: #FFF;
  width: 150px;
  height: 50px;
  border-radius: 8px;
}

.carousel-id .list .item .buttons button:nth-child(2) {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: #fff;
}

/* thumbnail */
.thumbnail {
  position: absolute;
  bottom: 45%;
  left: 61%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.thumbnail .item img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px;
}

.thumbnail .item .content {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.thumbnail .item .content .title {
  font-weight: 500;
}

.thumbnail .item .content .description {
  font-weight: 300;
}

/* arrows */
.arrows {
  position: absolute;
  bottom: 10%;
  right: 2%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  border: none;
  color: var(--primary-color);
  font-family: monospace;
  font-weight: bold;
  transition: .5s;
}

.arrows button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* animation text in first item */
.carousel-id .list .item:nth-child(1) .content .title,
.carousel-id .list .item:nth-child(1) .content .des,
.carousel-id .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s 1s linear 1 forwards;
}

@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.carousel-id .list .item:nth-child(1) .content .title {
  animation-delay: 1.2s !important;
}

.carousel-id .list .item:nth-child(1) .content .des {
  animation-delay: 1.6s !important;
}

.carousel-id .list .item:nth-child(1) .content .buttons {
  animation-delay: 1.8s !important;
}

/* create animation when next click */
.carousel-id.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage .5s linear 1 forwards;
}

@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.carousel-id.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}

.carousel-id.prev .list .item img {
  z-index: 100;
}

@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}

.carousel-id.next .thumbnail {
  animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

/* running time */
.carousel-id .time {
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: var(--primary-color);
  left: 0;
  top: 0;
}

.carousel-id.next .time,
.carousel-id.prev .time {
  animation: runningTime 3s linear 1 forwards;
}

@keyframes runningTime {
  from {
    width: 100%
  }

  to {
    width: 0
  }
}

/* prev click */
.carousel-id.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousel-id.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}


.carousel-id.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail .5s linear 1 forwards;
}

.carousel-id.next .arrows button,
.carousel-id.prev .arrows button {
  pointer-events: none;
}

.carousel-id.prev .list .item:nth-child(2) .content .title,
.carousel-id.prev .list .item:nth-child(2) .content .des,
.carousel-id.prev .list .item:nth-child(2) .content .buttons {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}



@media screen and (max-width: 1680px) {

  .carousel-id .list .item {
    inset: 0 0 0 0;
    display: none;
    margin-left: 10px;

  }

  .thumbnail {
    position: absolute;
    bottom: 45%;
    left: 51%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
  }


  .carousel-id .list .item.active .content {
    display: block;
  }

  .carousel-id .list .item .title {
    font-size: var(--cal-text);
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 1.3em;
    color: var(--primary-color);
  }

  .arrows {
    position: absolute;
    bottom: 0%;
    right: 5%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
  }

}

@media screen and (max-width: 1024px) {
  .carousel-id .list .item {
    inset: 0 0 0 0;
    display: none;
    margin-left: 10px;
  }

  .thumbnail {
    position: absolute;
    bottom: 45%;
    left: 51%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
  }

  .carousel-id .list .item.active .content {
    display: block;
  }

  .carousel-id .list .item .title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.3em;
    color: var(--primary-color);
  }

  .arrows {
    position: absolute;
    bottom: 0%;
    right: 5%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }

}

@media screen and (max-width: 768px) {
  .content-2 {
    margin: 50px 20px;
  }

  .carousel-id .list .item {
    inset: 0 0 0 0;
    display: none;
    margin-left: 10px;
  }

  .thumbnail {
    position: absolute;
    bottom: 45%;
    left: 51%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
  }

  .des {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
  }


  .carousel-id .list .item.active .content {
    display: block;
  }

  .carousel-id .list .item .title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.3em;
    color: var(--primary-color);
  }

  .arrows {
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }

  .des {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
  }


}

@media screen and (max-width: 424px) {
  .carousel-id .list .item .content {
    position: relative;
    top: 0%;
    box-sizing: border-box;
    text-align: left;
  }

  .content {
    padding: 0 !important;
  }

  .thumbnail {
    display: none !important;
  }

  .col-md-5 {
    display: none;
  }


  .des {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
  }
}

/* BLOG */
.container-content3 {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, #0869AF, #80C9FF);
}

.container-content4 {
  display: flex;

  background-image: linear-gradient(to right, #0869AF, #80C9FF);
}

.sublayout-content {
  display: flex;
  flex-direction: column;
}

.side-content {
  padding: 15px 15px 15px 0px;
  height: 985px;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.side-content::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.content-item {
  display: flex;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  color: var(--primary-color);
  cursor: pointer;
}

.content-item .img-box {
  flex: 0 0 100px;
  margin-right: 10px;
}

.content-item .img-box img {
  max-width: 120px;
  max-height: 120px;
  border-radius: 8px;
}

.content-item .detail-content {
  flex: 1;
}

.content-item .detail-content h5 {
  margin: 0 0 5px 0;
}

.content-item .detail-content p {
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.blog_section .heading_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}



.detail-box {
  margin-top: 10px;
  color: #fff;
}

.btn-sub {
  display: flex;
  justify-content: flex-end;

}

.btn-read {
  font-size: 20px;
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
}

.btn-cmt {
  font-size: 20px;
  color: #fff;
  margin-left: 20px;
  cursor: pointer;
}

.btn-share {
  font-size: 20px;
  color: #fff;
  margin: 0 20px;
  cursor: pointer;
}

.box-cmt {
  margin-top: 20px;
}

.content-item-cmt {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  background-color: rgb(44, 132, 195);
  padding: 10px;
  max-width: 100%;
  max-height: 95px;
  border-radius: 8px;
}

.content-item-cmt .img-box {
  flex: 0 0 100px;
  margin-right: 10px;
}

.content-item-cmt .img-box img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.content-item-cmt .detail-content {
  flex: 1;
}

.content-item-cmt .detail-content h5 {
  margin: 0 0 5px 0;
}

.content-item-cmt .detail-content p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  margin: 0;
}

.blog-title {
  font-size: 35px;
  font-weight: 500;
  margin: 20px 0px;
  text-align: center;
}

.btn-status {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 1024px) {


  .demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }
}


@media screen and (max-width: 450px) {
  .side-content {
    display: none;
  }

  .demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }
}

.menu-dropdown--tools {
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
  width: fit-content;
  display: flex;
  list-style: none;
  margin-left: 10px;
}

.menu-dropdown--tools a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.menu-dropdown--tools .link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 100px;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  border: 2px solid #DFDFDF;
}

.menu-dropdown--tools .link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-dropdown--tools .link svg {
  width: 20px;
  height: 20px;
  fill: var(--primary-color);
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-dropdown--tools .item {
  position: relative;
}

.menu-dropdown--tools .item .submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  border-radius: 0 0 16px 16px;
  left: 0;
  width: 100%;
  overflow: hidden;
  border: 1px solid #cccccc;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-12px);
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
  pointer-events: none;
  list-style: none;
}

.menu-dropdown--tools .item:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
  border-radius: 10px;
  background-color: #fff;
}

.menu-dropdown--tools .item:hover .link {
  color: #000;

}

.menu-dropdown--tools .item:hover .link::after {
  transform: scaleX(1);
  transform-origin: right;
}

.menu-dropdown--tools .item:hover .link svg {
  fill: var(--primary-color);
  transform: rotate(-180deg);
}

.submenu .submenu-item--dropdown {
  width: 100%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link {
  display: block;
  padding: 12px 24px;
  width: 100%;
  position: relative;
  text-align: center;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-item--dropdown:last-child .submenu-link {
  border-bottom: none;
}

.submenu .submenu-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  width: 100%;
  height: 100%;
  background-color: #E7F4FE;
  z-index: -1;
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link:hover:before {
  transform: scaleX(1);
  transform-origin: right;
}

.submenu .submenu-link:hover {
  color: #000;
}